<div class="content-block">
    <div class="content-navigation">
        <input type="button" value="Visited">
        <input type="button" value="Temperature">
        <input type="button" value="Going to visit">
        <input type="button" value="Add places">
        <input type="button" value="To default">
    </div>
    <div class="content-table">
        <table>
            <tr>
                <td></td>
                <td></td>
                <td><input type="button" value="want to visit"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><input type="button" value="want to visit"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><input type="button" value="want to visit"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><input type="button" value="want to visit"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><input type="button" value="want to visit"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><input type="button" value="want to visit"></td>
            </tr>
        </table>
    </div>
</div>
