<div class="content-block">
    <div class="content-table">
        <table>
            <tr>
                <th><a href="">Visited</a></th>
                <th><a href="">Temperature</a></th>
                <th><a href="">Weather condition</a></th>
                <th>Add/Delete place</th>
            </tr>
            <tr ng-repeat="btn in tableWeatherContainer">
                <td>{{btn.name}}</td>
                <td>{{btn.temperature}}</td>
                <td>{{btn.condition}}</td>
                <td><input type="button" value="..."></td>
            </tr>
        </table>
    </div>
</div>
