<div class="content-block">
    <div class="contentNavigation">
        <input type="button" value="Add City">
    </div>
       <div class="content-table">
        <table>
            <tr>
                <th><a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">Visited</a></th>
                <th><a href="" ng-click="sortTypeFunc()">Temperature</a></th>
                <th><a href="">Weather condition</a></th>
                <th>Add/Delete place</th>
            </tr>
            <tr ng-repeat="btn in tableWeatherContainer | orderBy : sortType : sortReverse">
                <td>{{name}}</td>
                <td>{{cTemperature}}</td>
                <td>{{description}}</td>
                <td><input type="button" value="..." ng-click="addDeleteModal()"></td>
            </tr>
        </table>
    </div>
</div>